﻿@model Planetario.Models.PersonaModel

@{
    ViewBag.Title = "InicioSesion";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Utils/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Utils/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    <p class="alert-success">@ViewBag.mensaje</p>
    <div class="limiter">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/Utils/images/img-01.png" alt="IMG">
            </div>

            @using (Html.BeginForm())
            {
                <div class="login100-form validate-form">
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title">
                        Ingrese sus datos
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @Html.TextBoxFor(model => model.correo, new { @class = "input100", placeholder = "Correo eletrónico" })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.PasswordFor(model => model.contrasena, new { @class = "input100", placeholder = "Contraseña" })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit" id="ingresar">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <a class="txt2" href="/Home/InformacionBasica">
                            Volver al Inicio
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            }

        </div>

    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <script src="~/Utils/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Utils/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Utils/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Utils/vendor/select2/select2.min.js"></script>
    <script src="~/Utils/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="~/Utils/js/main.js"></script>
</body>
</html>