<body>
    <span class="titulo">¡Crucigrama Espacial!</span>
    <div class="justify-content-center" style="width:1110px;margin:auto;">
        <iframe width="1110" height="750" frameborder="0" src="https://es.educaplay.com/juego/4591831-el_sistema_solar.html"></iframe>
    </div>
    <hr />
</body>

