<body>
    <div class="container">
        <div class="">
            <span class="titulo">Rapid Math</span>
            <div class="col">
                <div class="justify-content-center" style="width:800px;margin:auto;">
                    <script src="https://cdn.htmlgames.com/embed.js?game=RapidMath&amp;bgcolor=white"></script>
                </div>
            </div>
        </div>
        <hr />
    </div>
</body>