<body>
    <span class="titulo">¡SisteMap Solar!</span>
    <div class="justify-content-center" style="width:1110px;margin:auto;">
        <iframe width="1110" height="750" frameborder="0" src="https://es.educaplay.com/juego/7209539-el_sistema_solar.htmlE"></iframe>
    </div>
    <hr />
</body>

