<body>
    <span class="titulo">¡Video Quiz Solar!</span>
    <div class="justify-content-center" style="width:1110px;margin:auto;">
        <iframe width="1110" height="750" frameborder="0" src="https://es.educaplay.com/juego/5738957-el_universo.html"></iframe>
    </div>
    <hr />
</body>
